Repository getsentry/sentry-unity, pull requests merged in 2021-05, with the labels that each got.

#156 Update and extend dangerfile
  dangerfile.js
Labels: repository maintenance

#177 Fix: Programmatic config - logger attachment
  src/Sentry.Unity/SentryUnity.cs
  src/Sentry.Unity/SentryUnityOptions.cs
Labels: bug

#194 Feat: Embedded link.xml in assembly
  CHANGELOG.md
  samples/unity-of-bugs/Assets/Resources/Sentry/link.xml
  samples/unity-of-bugs/Assets/Resources/Sentry/link.xml.meta
  src/Sentry.Unity.Editor/SentryWindow.cs
  src/Sentry.Unity/Resources/link.xml
  src/Sentry.Unity/Sentry.Unity.csproj
  test/Sentry.Unity.Editor.Tests/EditorModeTests.cs
  test/Sentry.Unity.Tests/EmbeddedResourcesTests.cs
Labels: enhancement

#196 Fix: Check/create directory before saving
  CHANGELOG.md
  src/Sentry.Unity/SentryUnityOptions.cs
Labels: bug

#205 Fix: Fallback for missing/empty product name
  CHANGELOG.md
  src/Sentry.Unity/SentryUnity.cs
  test/Sentry.Unity.Tests/IntegrationTests.cs
Labels: bug
